<!doctype html>
<html lang="en">
  <head>{% assign buildversion = "now" | date:'?v=%s' %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/luminate/windi.css' | append: buildversion }}">
    <script defer type="module"> import alpinejs from 'https://cdn.skypack.dev/alpinejs'; alpinejs();</script>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
