<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/luminate/windi.css">
    <script defer type="module"> import alpinejs from 'https://cdn.skypack.dev/alpinejs';</script>
    <title>{{ title }}</title>
  </head>
  <body>
    <main>
      {{ content }}
    </main>
  </body>
</html>
