---
layout: base.liquid
---

<main class="content" id="main-content">
  <section id="{{ tag }}" class="content-section">
    <article>
      <div class="container">
        {%- if title %}<h1>{{ title | upcase }}</h1>{% endif %}
        {{ content }}
      </div>
    </article>
  </section>
</main>
